$maincolor : #242731;
$bodycolor : #1F2128;
$textcolor: #5F6165;
$darkcolor: #8099e9;
$primarycolor: #A162F7;
$secondtextcolor: rgb(255, 255, 255);
@import "./header";
@import "./sidebar";
@import "./card";
@import "./booking";
@import "./dashboard";
@import "./assests";
@import "./sign-in";
*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $bodycolor !important;
}
.main-container{
    position: relative;
    right: 0;
}
.content-container{
    width: calc(100% - 250px);
    position: absolute;
    right: 0; 
    top: 0;
}
.title{ 
    color: $secondtextcolor !important;  
}
@media only screen and (max-width: 992px) {
    .content-container{
        width:100%;
    }
  }